/*  内容部分-ask S  */
.ask{
    width: 100%;
    height: 4.8rem;
    text-align: center;
    /* position: relative;     */
}
.ask .ask1{
    position: relative;
    display: inline-block;
    width: 12.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 2.3rem; 
    /* margin-left: -6.2rem; */
    overflow: hidden;   
    z-index: 2;
    cursor:pointer;     
}
.ask #ask-2{
    position: absolute;
    background: #7AD0AE;
    border-radius: 8px;
    width: 0rem;
    height: 2.4rem;
    margin-top: -2.4rem;
    z-index: -1;
    transition: all 0.3s ease;
}
.ask1:hover{
    border: none;
    color: #fff;
}
.ask1:hover #ask-2{
    transition: all 0.3s ease;
    width: 12.4rem;
}
/*  内容部分-ask E  */